*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.background{
  width: 200px;
  height: 200px;
}

body {
  /* background-color: #9a9a9a; */
  background-image: url("asset/Untitled-1.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  /* background-color: white; */
  display: flex;
  justify-content: space-between;
  padding: 0rem 4rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

.logo{
  width: 5rem;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

nav div img {
  width: 50px;
}

nav ul li a {
  text-decoration: none;
  font-family: "Calibri", sans-serif;
  color: #191919;
  font-weight: 600;
  padding: 8px 0;
  transition: all;
  transition-duration: 300ms;
  border-bottom: 1px solid rgba(255, 68, 0, 0);
}

nav ul li a:hover {
    color: rgb(255, 83, 160);
    border-radius: 100px;
    border: 1px solid #000000;
    padding: 6px 10px;
    width: 200px;
    height: 100px;
}

.contact:hover{
  color: rgb(255, 255, 255);
    border-radius: 100px;
    /* border: 1px solid #000000; */
    background-color: rgb(0, 255, 221);
    padding: 6px 10px;
    width: 200px;
    height: 100px;
}

.menu-icon {
  /* background-color: tomato; */
  font-size: 28px;
  display: none;
}

main {
  padding-top: 7rem;
}


.welcome{
  justify-content: center;
  height: 450px;
}
.indexhero{
  text-align: center;
  font-family: 'Montserrat', 'Mplus 1p', 'Hiragino Sans', 'Hiragino Kaku Gothic Pro', '游ゴシック' , '游ゴシック体' , YuGothic , 'Yu Gothic', 'ＭＳ ゴシック' , 'MS Gothic', sans-serif;
  font-size: 4em;
  font-weight: 600;
  transition: 0.3s;
}

.indexhero:hover{
  color: rgb(255, 0, 93);
  
}

.indexherop{
  font-family: "calibri";
  text-align: center;
  font-style: italic;
  font-size: 16px;
  letter-spacing: 11.5556px;
  font-weight: 500;
  transition: 0.3s;
}

.indexherop:hover{
  color: rgb(0, 255, 153);
}
.hello{
  

  padding-right: 50%;
  padding-left: 4em;
  justify-content: space-between;
}


.helloh3{
  text-align: center;
  font-family: "calibri";
  font-style: italic;
  border-radius: 100px;
  border: 1px solid #000000;
  padding: 10px;
  width: 95px;


}

.hellop{
  margin-top: calc(var(--global-space)*1);
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    white-space: pre-line;

    box-sizing: inherit;
    margin: 0;
    padding: 0;
    overflow-anchor: none;
    line-height: 3;
}

.helloimg{
  width: 85%;
  border-radius: 8px;
}

.edits{
  padding-left: 50%;
  padding-right: 4em;
}

.editsh3{
  margin: 0;
  text-align: center;
  font-family: "calibri";
  font-style: italic;
  border-radius: 100px;
  border: 1px solid #000000;
  padding: 10px;
  width: 95px;
  background-color: rgb(0, 255, 153);
  
    }


@media only screen and (max-width: 768px) {
  nav {
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    top: 0;
  }


  nav ul {
    flex-direction: column;
    width: 100%;
  }

  nav ul li:last-of-type {
    padding-bottom: 8px;
  }

  nav ul.hidden {
    display: none;
  }

  .menu-icon {
    display: flex;
    align-items: center;
  }
}
